@model List<Nav_List>;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/css/froala_editor.pkgd.min.css" integrity="sha512-2pV+HRFqOhnsJg1HTGaZxIz27M0YLsRm1LrN5MN3kWbSbKWhRNRVFXfkKOeWJs5JDqe0gkV6kcdFJq/YDSkCGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/css/froala_editor.min.css" integrity="sha512-nAJK2yafVBW/IqrSgLaNgFeISsusduUoQ8WTNDvHwdnThbiGoP3Myc4fq0Z0bGS8ZowxzGLafmPtHwTp2T5qRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <!--Nav Bar Or Header-->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow fixed-top" style="background-color: #576868">
        <div class="container">
            @*<a class="navbar-brand text-white" asp-controller="home" asp-route-id="">Welcome To CMS_Demo</a>*@
            <a class="navbar-brand" asp-controller="home" asp-route-id="">
                <img width="250" height="40" alt="Logo" src="~/Images/@ViewBag.Logo" asp-append-version="true" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class=" collapse navbar-collapse ml-0 justify-content-center" style="width: 100%;" id="navbarSupportedContent">
            <ul class="navbar-nav">
                

                @foreach (var m in Model)
                {
                    if (m.SubPageId == 0)
                    {
                        var count = 0;
                        <li class="nav-item mr-3">

                            <a class="text-white px-0 text-decoration-none m-2 "
                               asp-action="Index" asp-controller="home" asp-route-id="@m.PageName" style="outline-color:transparent;">
                                @m.PageName
                            </a>

                            <ul class="dropdown">
                                @foreach (var n in Model)
                                {
                                    if (n.SubPageId == m.PageId)
                                    {
                                        count++;
                                        <li>
                                            <a class="dropdown-item"
                                               asp-action="Index" asp-controller="home" asp-route-id="@n.PageName">@n.PageName</a>
                                        </li>
                                    }
                                }
                            </ul>
                            @{
                                if (count > 0)
                                {
                                    <a class=" px-0 text-white dropdown-toggle dropdown-toggle-split mr-3"
                                       asp-action="Index" asp-controller="home" asp-route-id="@m.PageName">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </a>
                                }
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>

    <!--Body-->
    <div class="mt-5">
        @RenderBody()
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/froala_editor.min.js" integrity="sha512-M21u/bhNAlYd5NOd271FkyJrmFxRGOA492Y0g0T8d+5u7iGrAo6uTrBzxD3vV1HKMyTyYYehio3O+7LDvYHDYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   @* <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <link href="https://cdnout.com/froala-editor" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)

</body>
</html>